{{#unless logado}}
<div class="card-body">
    <p style="text-align: center; font-size: 1.5rem;padding-bottom: 20px;">Login on chat</p>
    <form method="POST" id="login" class="form" action="/users/verificar">
        <div class="form-group">
            <label for="name">Username:</label>
            <input name="user" class="form-control" type="text" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input name="pass" class="form-control" type="password" placeholder="Password">

        </div>
        <ul style="list-style: none; color: red; padding: 0" id="resposta"></ul>
        <button type="submit" class="btn btn-dark">Enter</button>
    </form>
</div>
<div class="card-footer">Developed by Anilton Veiga & Mateus Saggioro</div>
<script>
    (function () {

        let form = document.querySelector('#login'),
            httpRequest = new XMLHttpRequest(),
            resposta = document.querySelector('#resposta');

        if (window.XMLHttpRequest) {
            httpRequest = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
        }

        form.addEventListener("submit", function (ev) {
            ev.preventDefault();
            resposta.innerHTML = "";
            httpRequest.open("post", form.getAttribute('action'));
            httpRequest.send(new FormData(this));

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === 4) {
                    for (msg of JSON.parse(this.responseText)) {
                        resposta.innerHTML += '<li>' + msg.message + '</li>';
                        if (msg.message === 'Sucesso')
                            window.location.replace("/users/amigos");
                    }
                }

            }
        })
    }())
</script>

{{/unless}}